.reports {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.reports-title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

}
  
.reports-container {

}


.reports-empty {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.reports-empty-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #aaaa;
    gap: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
}

.reports-empty-description h1 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3rem;
    padding: 10px;
}

.reports-empty-description p {
    width: 100%;
    height: auto;
    text-align: center;
}

.work-description {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.work-description p {
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
}




/*   
.report-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
  
.report-card:hover {
    transform: scale(1.05);
}
  
.report-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
  
.report-content {
    padding: 15px;
}
  
.report-content h3 {
    font-size: 18px;
    margin: 0 0 10px;
}
  
.report-content p {
    font-size: 14px;
    color: #888;
}
   */