.comments-container {
    flex: 1;
    padding: 20px;
    border-top: 2px solid #b3b3b3;
    width: 100%;
    height: 100%;
}

.comments-container h2 {
    color: #ccea77;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.comments-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.comment-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: 0.5px solid #f0f0f0;
}

.comment-header {
    height: 100%;
    /* height: auto; */
    display: flex;
    justify-content: center;
    color: #ddd;
    padding: 10px;
    border-right: 1px dashed #b3b3b3;
}

.name-label {
    margin-left: 5px;
    color: #007bff;
    font-size: 0.9rem;
    white-space: nowrap; 
}

.comment-body {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;   

}

.comment-content {
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
}

.reply-button {
    background-color: transparent;
    color: #9481FF;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 0.9rem;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-time {
    font-size: 0.85rem;
    color: #666;
}


.edit-textarea {
    width: 55%;
    height: 30px;
    padding: 5px;
    line-height: 1.5;
    font-size: 1rem;
    resize: none;
    background-color: #f7f7f7;
    border: 1px solid #aaaaaa;
    color: #070707;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease;
}

.comment-edit-button,
.comment-save-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-edit-button:hover,
.comment-save-button:hover {
    background-color: #76a62f;
    color: white;
}

.comment-delete-button {
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-delete-button:hover {
    background-color: #d32f2f;
    color: white;
}

.comment-input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.comment-textarea {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    resize: none;
    color: #070707;
    background-color: #f7f7f7;
    border: 1px solid #aaaaaa;
    overflow: hidden;
    transition: all 0.3s ease; 
}

.comment-submit-button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #9481FF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.comment-submit-button:hover {
    background-color: #A394FF; 
    transition: background-color 0.3s ease; 
}

.comment-textarea:focus,
.edit-textarea:focus {
    outline: none; 
    border: 1px solid #888888; 
    box-shadow: 0 0 8px rgba(170, 170, 170, 0.5);
}






