.bottom-chart {
    flex: 1.5;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: 5px solid darkgoldenrod */
}

.chart-controls {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chart-controls button {
    border: none;
    padding: 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #aaaa;
    background-color: transparent;
    cursor: pointer;
}

.chart-controls button.active {
    color: #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
}


.chart-controls button:hobver {
    color: #aaaaaa;
}

.line-chart {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}
