.dashboard {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    padding: 10px 10px 0 0;
    gap: 10px;

    height: 100%; 
    width: 100%;
    box-sizing: border-box;
}


.row-container {
    flex: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box; 
}

.col-container {
    flex: 1;
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}


.loading-container {
   /* position: absolute; 
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.loading {
    width: 300px;
    height: 300px;
    background:rgba(31, 31, 31, 0.8); 
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;;
}

.loading-container .react-spinner {
    z-index: 10000; 
} 
