.home {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;

}

.home-top-container {
    display: 100%;
    height: auto; 
}

.top-image {
    width: 100%; 
    height: 300px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url('/public/home.jpg');
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);
}

.home-top-container h1 {
    width: 100%;
    height: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "CoolveticaRg-Bold";
    font-size: 20vw;
    margin-bottom: 13vw;
}

/* .home-description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-description p {
    height: auto;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 0;
    color: black;
} */


/* middle */

.home-middle-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20vh;
}


.middle-one {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #3d3d3d; */
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);
}

.middle-one img {
    height: 650px;
}

.one-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: 	#345342;
}

.one-content-top {

}

.one-content-bottom {
    margin-top: 10px;
}



.middle-two {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);
}

.middle-two img{
    height: 550px;
}

.two-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: 	#345342;
}

.two-content p {

}





.middle-three {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4);
}

.middle-three img {
    height: 400px;

}

.three-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    background-color: 	#345342;
}



.highlight {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #070707; 
    background-color: rgba(204, 234, 119, 0.8); 
    padding: 2px 4px;
    border-radius: 5px; 
}

* p {
    font-weight: bold;
    color: #aaaaaa; 
}


.home-bottom-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.mamury{
    height: auto;
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-weight: bold;
    color: #ccea77;
    font-family: "CoolveticaRg-Bold";
    border-bottom: 1px solid #ccea77;
}

/* 
.content {
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: transparent;
}

.content-title {
    text-align: left;
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #6C6E74;
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
    flex: 1;
    background-color: transparent;
}


.content-detail {
    flex: 1;
    width: 100%;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4); 
}     */